<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../jwt-decode/jwt-decode.html">
<link rel="import" href="./finterface-jwt-decoder.html">

<!--
[auth0/jwt-decode](https://github.com/auth0/jwt-decode) wrapper element.

Example:

    <f-jwt-decode token="..." value="{{decoded}}"></f-jwt-decode>
    <p>[[decoded]]</p>

@element jwt-decode
@demo demo/index.html
-->
<dom-module id="f-jwt-decode">
<script>
  Polymer({

    is: 'f-jwt-decode',
    behaviors: [FInterface.JwtDecoder],
    observers: ['_tokenChanged(token)'],

    /**
     * Decode JWT
     *
     * @param {string} a full JWT
     * @return {Object} claims
     */
     decode: function(token) {
       if (!token) return null;
       return jwt_decode(token);
     },

     _tokenChanged: function(newValue) {
       this.value = this.decode(newValue);
     }
  });
</script>
</dom-module>
